<template lang="pug">
  div
    input.form-control(:value="test", ref="picker")
</template>

<script>
  import flatpickr from 'flatpickr'
  import 'flatpickr/dist/flatpickr.css'

  export default {
    name: 'datepicker',
    data: () => ({
      fp: null
    }),
    model: {
      prop: 'test',
      event: 'superevent'
    },
    props: {
      test: {
        type: String,
        required: true
      }
    },
    watch: {
      value: 'updateDatePicker'
    },
    mounted () {
      this.fp = flatpickr(this.$refs.picker, {
        dateFormat: 'd.m.Y',
        onChange: (selectedDate, dateStr) => {
          this.$emit('superevent', dateStr)
        }
      })
    },
    methods: {
      updateDatePicker () {
        this.fp.setDate(this.value)
      }
    }
  }
</script>
