<template lang="pug">
  #start
    router-link.btn.btn-outline-secondary(tag="button", to="/list") Список пользователей
    router-link.btn.btn-outline-primary.ml-1(tag="button", to="/user/add") Добавить пользователя
</template>

<script>
export default {
  name: 'Start',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
