<template lang="pug">
  .table-users
    div(v-if="!users.length")
      Loading
    div(v-if="users.length")
      table.table
        tr
          th #
          th Имя
          th Фамилия
          th Активен
          th Баланс
          th Email
          th Телефон
          th Зарегистрирован
        tr(v-for="user in users", :key="user.id")
          td
            router-link(:to="`/user/${user.id}`") # {{ user.id }}
          td {{ user.firstName }}
          td {{ user.lastName }}
          td {{ user.isActive }}
          td {{ user.balance }}
          td {{ user.email }}
          td {{ user.phone }}
          td {{ user.registered }}
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Table',
    data: () => ({
      url: 'http://localhost:3000/users/',
      users: []
    }),
    methods: {
      loadData () {
        axios.get(this.url)
          .then(response => response.data)
          .then(response => {
            this.users = response
          })
      }
    },
    mounted () {
      this.loadData()
    },
    components: {
      Loading: () => import('@/components/Loading.vue')
    }
  }
</script>

<style>
  header {
    height: 56px;
  }
</style>
