<template lang="pug">
  .user-form
    form
      .form-group
        label Имя
        input.form-control(v-model="user.firstName")
      .form-group
        label Фамилия
        input.form-control(v-model="user.lastName")
      .form-group
        label Email
        input.form-control(v-model="user.email")
      .form-group
        label URL картинки
        div(v-if="imageLoading")
          Loading
        div(v-else)
          p
            img.img-thumbnail(:src="user.picture")
          .input-group.mb-3
            .custom-file.d-none
              input#inputGroupFile02.custom-file-input(type='file', ref="image", @change="upload")
            .input-group-append
              span.input-group-text(@click="selectNewImage") Загрузить
          input.form-control(v-model="user.picture")
      .form-group
        label Дата регистрации
        datepicker(v-model="user.registered")
        input.form-control(v-model="user.registered")

    pre {{ user }}
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'UserForm',
    model: {
      prop: 'user'
    },
    components: {
      Loading: () => import('@/components/Loading.vue'),
      datepicker: () => import('@/components/datepicker.vue')
    },
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data: () => ({
      accessList: ['guest', 'user', 'admin'],
      imageLoading: false
    }),
    methods: {
      selectNewImage () {
        this.$refs.image.click()
      },
      upload () {
        this.imageLoading = true
        const url = 'https://api.imgur.com/3/image'
        const data = new FormData()
        data.append('image', this.$refs.image.files[0])

        const config = {
          headers: {
            'Authorization': 'Client-ID 727a40c3bd8a3f0'
          }
        }
        axios.post(url, data, config)
          .then(response => response.data)
          .then(response => {
            this.user.picture = response.data.link
            this.$refs.image.value = ''
            this.imageLoading = false
          })
      }
    }
  }
</script>
