<template lang="pug">
  .user-edit
    div(v-if="!user")
      Loading
    div(v-if="user")
      .card
        .card-header
          h2 Редактирование пользователя {{ `#${id}` }}
        .card-body
          UserForm(v-if="user", v-model="user")
        .card-footer
          button.btn.btn-success(@click="save") Сохранить изменения
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'UserEdit',
    props: {
      id: String
    },
    components: {
      UserForm: () => import('@/components/UserForm.vue'),
      Loading: () => import('@/components/Loading.vue')
    },
    data: () => ({
      url: 'http://localhost:3000/users/',
      user: null
    }),
    computed: {
      userUrl () {
        return `${this.url}${this.id}`
      }
    },
    methods: {
      loadData () {
        axios.get(this.userUrl)
          .then(response => response.data)
          .then(response => {
            this.user = response
          })
      },
      save () {
        axios.patch(this.url, this.user)
          .then(() => {
            this.$router.push({path: '/list'})
          })
      }
    },
    mounted () {
      this.loadData()
    },
    beforeRouteUpdate (to, from, next) {
      this.loadData()
      next()
    }
  }
</script>
