<template lang="pug">
  #app
    header
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        router-link.navbar-brand(to="/") Vue.js cource project
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            router-link.nav-item(tag="li", to="/list", active-class="active", exact)
              a.nav-link
                | Список пользователей
                span.sr-only (current)
            router-link.nav-item(tag="li", to="/user/add", active-class="active", exact)
              a.nav-link Добавить пользователя
    #main.mt-3
      .container
        router-view

</template>

<script>
export default {
  name: 'App'
}
</script>
